
<%- include('../partials/header') %>

<section class="recipe-page">
    <h1><%= recipe.recipe_name %></h1>
    <section class="recipe-details">
        <h2>Ingredients</h2>
        <ul>
            <% ingredients.forEach(ingredient => { %>
                <li><%= ingredient.ingredient_name %></li>
            <% }) %>
        </ul>
        <h2>Instructions</h2>
        <ol>
            <% recipe.instructions.split(';').forEach(instruction => { %>
                <li><%= instruction %></li>
            <% }) %>
        </ol>
    </section>
</section>

<%- include('../partials/footer') %>
