
<%- include('../partials/header') %>

<section class="recipe-page">
    <h1><%= recipe.name %></h1>
    <section class="recipe-image">
        <img src="<%= recipe.image %>" alt="<%= recipe.name %>">
    </section>
    <section class="recipe-details">
        <h2>Ingredients</h2>
        <ul>
            <% recipe.ingredients.forEach(ingredient => { %>
                <li><%= ingredient %></li>
            <% }) %>
        </ul>
        <h2>Instructions</h2>
        <ol>
            <% recipe.instructions.forEach(instruction => { %>
                <li><%= instruction %></li>
            <% }) %>
        </ol>
    </section>
</section>

<%- include('../partials/footer') %>
